/* CSS VARIABLES */
:root {

    --white: #fff;
    --pink: #FFA69E;
    --tan: #FAF3DD;
    --green: #B8F2E6;
    --blue: #AED9E0;
    --gray: #5E6472;
}

/* RESETS ALL ELEMENTS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* COMMA SEPARATING ELEMENTS APPLY THE SAME STYLE TO THEM */
h1, 
h2 {
    font-family: 'Bebas Neue', sans-serif; 
  

}

h1 {
    font-size: 32px;
}

/* DEVELOP MOBILE FIRST THEN OVERRIDE FOR LARGER BREAKPOINTS
    IF IT DOESNT HAVE A MEDIA QUERY IT WILL APPLY TO ALL BREAKPOINTS
    SETTING BREAKPOINTS LIKE BELOW WILL UPDATE THE STYLE FOR THAT BREAKPOINT 
    IF NOT IT WILL STAY THE SAME
*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 60px;
    }
}

    /* ALIGNS VERTICAL CENTER ON Y AXIS */
    /* ALIGNS HORIZONTAL CENTER ON X AXIS */
.header {
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    display: flex;
    justify-content: center;
    height: 100px;
}

@media screen and (min-width: 768px) {
    .header {
        height: 200px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 500px;
    }
}

/* CENTERS HEADER TEXT */

.header-content {
    text-align: center;
}

.navigation {
    background-color: var(--gray);
    font-size: 24px;
}
/* WRAPPING FLEX ITEMS HERE FOR MOBILE SO THE LINKS STACK */
/* REMOVES THE BULLET POINTS FROM THE UNORDERED LIST */

.navigation .nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

/* REMOVING THE FLEX WRAP SO THE LINKS ARE ON ONE LINE */

@media screen and (min-width: 768px) {
    .navigation .nav-links {
        flex-wrap: nowrap;
    }
}

/* ALIGNING TEXT TO CENTER OF CONTAINER */

.nav-item-link {
    text-align: center;
    width: 100%;
}
/* DISPLAY INLINE BLOCK ALLOWS US TO APPLY PADDING TO THE LINKS BECAUSE THEY ARE INLINE ELEMENTS BY DEFAULT */
/* HAVING PADDING ON THE LINK ALLOWS FOR A BIGGER HIT AREA FOR USERS TO CLICK THE LINK */

.nav-item-link a {
    color: var(--tan);
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 4px;
    text-decoration: none;
}

/* NEED TO IDENTIFY LINKS AND THINGS LIKE ERRORS WITH A VISUAL CHANGE THAT IS NOT ONLY COLOR FOR PEOPLE WHO ARE COLOR BLIND */

.nav-item-link a:hover {
    color: var(--pink);
    text-decoration: underline;
}

/* ADDS MARGIN AROUND THE MAIN CONTENT (THE WHITE COLOR BEHIND) */

.main-content {
    margin: 20px;
}

/* MOVE THE ASIDE (PROFILE PIC SECTION) AND MAIN (ABOUT ME, WORK, CONTACT) NEXT TO EACH OTHER IN DESKTOP */
/* PUT MARGIN TOP ON THE MAIN AND AUTO AROUND. AUTO CENTERS THE CONTAINER HORIZONTALLY ON THE PAGE */

@media screen and (min-width: 1024px) {
    .main-content {
        display: flex;
        margin: 20px auto;
        max-width: 1200px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 1024px) {
    .profile-container {
        width: 30%;

    }

    .info {
        width: 70%;
    }
}
 /* ADDED OVERFLOW HIDDEN SO THE PROFILE IMAGE DOES NOT GO OVER WHEN SCREEN IS AT MIN WIDTH */
.profile {
    background-color: var(--pink);
    border-radius: 20px;
    padding: 18px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
/* STICKS PROFILE SECTION WHEN YOU SCROLL DOWN THE PAGE */
/* POSITIONS IT 20PX FROM THE TOP WHEN STICKY TO MAKE IT STILL LOOK GOOD */

@media screen and (min-width: 1024px) {
    .profile {
        position: sticky;
        top: 20px;
    }
}

.profile .about-me {
    border-radius: 50%;
    border: 4px solid var(--white);
}
/* ADDS ROUNDED CORNERS AROUND CONTAINER */
/* ADDS MARGIN TO THE CONTAINER TO THE TOP AND BOTTOM */
/* IF CONTENT IS TALLER OR WIDER THAN THE PARENT CONTAINER OVERFLOW HIDDEN WILL CROP THE CONTENT AND NOT SHOW A SCROLL BAR */

.content-area {
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    padding: 18px;
}

/* ADDS MARGIN TO THE TOP AND BOTTOM OF THE PARAGRAPH ELEMENT*/
/* ADDS "LINE-HEIGHT" SPACING TO THE P LINES ON THE ABOUT ME & CONTACT ME */
 p {
    margin-top: 3%;
    margin-bottom: 3%; 
    line-height: 2;
} 

/* min-height: 1000px; */
/* ADDING MARGIN TO THE LEFT AND BOTTOM OF THE CONTENT AREA IN DESKTOP */
/* REMOVES THE MARGIN BOTTOM FROM THE LAST CONTENT-AREA CONTAINER PHEUDO ELEMENT*/

@media screen and (min-width: 1024px) {
    .content-area {
     
        margin: 0 0 20px 20px; 
    }

    .content-area:last-child {
        margin-bottom: 0;
    }
}

#about-me {
    background-color: var(--blue);
}

#my-work {
    background-color: var(--green);
}

#contact-me{
    background-color: var(--tan);
}

 /* .portfolio-container {

    flex-wrap: wrap;

}

.portfolio-item {
    flex-wrap: wrap 

}  */

/* SETTING IMAGE TO 100% OF THE CONTAINER */
/* SETTING A MIN WIDTH SO IT CANT GET SMALLER THAN 200px */

/* .portfolio-item img {
    width: 100%;
    min-width: 150px;
    margin-top: 3%;
    margin-bottom: 3%; 
    border: 4px solid var(--white);   
} */

.portfolio-item img {
display: flex;
height: 40%;
width: 40%;
margin: 10px;
padding: 5px; 
background-color: #000000d0;

}

/* MY ABOUT ME IMAGE HOVER CHANGE FROM BLACK & WHITE TO COLOR*/

/* .about-me {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
} */


/* .about-me:hover {
    filter: none;
    -webkit-filter: grayscale(0);
} */
 
/* MY WORK IMAGE HOVER CHANGE FROM BLACK & WHITE TO COLOR*/

 /* .portfolio-item {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
} */


/* .portfolio-item:hover {
    filter: none;
    -webkit-filter: grayscale(0);
} */


/* FOOTER BACKGROUND COLOR, TEXT USING VARIABLE*/
footer {
    background-color: var(--gray);
    color: var(--white);
    padding: 20px;
}